[submodule "third-party/DawnStar"]
	path = third-party/DawnStar
	url = https://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@github.com/Ladun/DawnStar.git
[submodule "third-party/DawnNet"]
	path = third-party/DawnNet
	url = https://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@github.com/Ladun/DawnNet.git
